html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

body {
    background: url("https://arba.club/images/bg-cover3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#app {
    min-height: calc(100vh - 170px);
}

#footer {
    margin-top: 100px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100vw;
    padding: 5px 0 15px;
    background: #2b323f;
}

#footer img {
    z-index: 5;
    height: 50px;
}

#footer #bord {
    bottom: 70px;
    position: absolute;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 100vw;
    border-color: transparent transparent #2b323f transparent;
}

#avatar {
    width: 120px;
    height: auto;
    max-height: 200px;
    overflow: hidden;
}

#avatar img {
    width: 100%;
}

.panel-body {
    overflow-x: auto;
}

.table > thead > tr > th {
    white-space: nowrap;
}

@-webkit-keyframes rotate {
    0% {
        border-color: #3097d1;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    50% {
        border-color: black;
        -webkit-transform: rotateZ(1440deg);
        transform: rotateZ(1440deg);
    }

    100% {
        border-color: #3097d1;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}

@keyframes rotate {
    0% {
        border-color: #3097d1;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    50% {
        border-color: black;
        -webkit-transform: rotateZ(1440deg);
        transform: rotateZ(1440deg);
    }

    100% {
        border-color: #3097d1;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}

#spinner {
    position: fixed;
    width: 120px;
    height: 120px;
    left: calc(50vw - 60px);
    top: 30%;
    z-index: 10;
    border-right: 3px solid #3097d1;
    border-left: 3px solid #3097d1;
    border-top: 3px solid #3097d1;
    border-radius: 50%;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#curve_chart {
    margin: 0 auto;
}

